<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            background-color: #D7DDE8;
        }
        .btn {
            width: 100px;
            background-color: #D7DDE8;
            color: #757F9A;
            border-radius: 20px;
            border-color: transparent;
            box-shadow: -3px -3px 3px 0 rgba(255,255,255, 0.7), 3px 3px 3px 0 rgba(0,0,0,0.2);
        }
        .btn:hover, .btn:active {
            font-weight: bold;
            color: #222;
            box-shadow: inset -3px -3px 3px 0 rgba(255,255,255, 0.7), inset 3px 3px 3px 0 rgba(0,0,0,0.2);
        }
        label{
            font-weight: bold;
        }
        
        input{
            padding: 5px;
            padding-left:15px;
            width: 600px;
            background-color: #434343;
            /* border: 0; */
            /* outline: 0; */
            border: none;
            border-radius: 30px;
            font-size: 20px;
            color: #EEE;
        }
        #id_username {
            margin-left: 130px;
        }
        #id_email{
            margin-left: 100px;
        }
        #id_first_name {
            margin-left: 128px;
        }
        #id_last_name {
            margin-left: 130px;
        }
        #id_password1 {
            margin-left: 135px;
        }
        #id_password2 {
            margin-left: 30px;
        }
        #id_image {
            margin-left: 160px;
        }
        ul li {
            margin-left: 215px;
        }
        span{
            margin-left: 230px;
        }
        
    </style>

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spartan:400,600,700&display=swap" rel="stylesheet">

    <title>Sign Up</title>

  </head>
  <body>
    <div style="margin: 100px; margin-top: 0;">
      <div class="row-lg-12 mb-5" style="padding-left: 120px; padding-right:120px;">
        <h1 style="font-family: 'Playfair Display'; margin-top: 50px; font-size: 60px; font-weight: bold; color: #757F9A;">Create a new account</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="login/"><button class="btn" id="signUp">Sign Up</button></a>
        </form>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"   integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="   crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>