* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #D7DDE8;
}
#welcome{
    margin-left: 10vw;
    font-family: 'Playfair Display';
}
#welcome .text {
    margin-top: 0;
    max-width: 50vw;
    font-size: 100%;
    color: #757F9A;
}
#welcome .text#top  {
    color: #16161d;
    font-size: 450%;
    font-weight: bold;
}

#welcome .text#mid,#welcome .text#bottom  {
    font-size: 200%;
}
#welcome .row.one .form-group{
    margin: 5vh;
    margin-top: 2vh;
    font-family: 'Spartan';
    font-weight: bold;
}
#welcome .row.one .form-group input{
    margin-bottom: 30px;
    max-width: 500px;

    background-color:rgba(0, 0, 0, 0);
    border: 0;
    outline: 0;

    font-size: 25px;
    color: #222;
    border: none;
}

#welcome .row.one .form-group #logIn{
    padding: 7px 30px;
    margin-top: 15px;

    background-color: #D7DDE8;
    border-radius: 20px;
    box-shadow: -3px -3px 3px 0 rgba(255,255,255,0.7), 3px 3px 3px 0 rgba(0,0,0,0.2);
    
    color: #757F9A;
}

#welcome .row.one .form-group #logIn:hover{
    font-weight: bold;
    color: #222;
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2), inset -3px -3px 3px 0 rgba(255,255,255,0.7);
}
.invalid {
    margin-bottom: 20px;
    color: #8E0E00;
    font-size: 20px;
    font-weight: bold;
}
#signUp {
    padding: 7px 10px;
    margin-top: 15px;
}
#signUp:hover {
    text-decoration: underline;
}